@import "resets/normalize.scss";
@import url('https://fonts.googleapis.com/css?family=Roboto:100,900&display=swap');

header{
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100px;
  display: flex;
  align-items: center;
  box-shadow: 0 0 1.25em 0 black;
  z-index: 2;
}

header img{
  object-fit: cover;
  object-position: top;
  width: 100px;
  height: 100px;
}

header * {
  display: inline;
}

header li {
  margin: 2.0vw;
}

header li a {
  color: black;
  text-decoration: none;
  white-space: nowrap;
  font-size: 1.188em;
}


h3{
  font-family: 'Roboto', sans-serif;
  font-size: 1.500em;
  font-weight: 900;
  margin-top: 8vh;
}

footer {
  font-family: sans-serif;
  font-size: 0.824em;
  text-align: center;
  color: white;
}

footer span {
  display: block;
}

body {
  background-size: cover;
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
  line-height: 1.15em;
  margin-top: 100px;
  background-color: #5a6773;
  color: white;
  margin-left: 0;
  margin-right: 0;
}

figure {
  width: 49%;
  overflow: hidden;
  margin: 0;
  float: right;
  border: 1px solid black;
  box-shadow: 0 0.250em 0.5em #000000, 0 0.375em 1.250em #000000;
}

figure img {
  display: block;
  margin: 0 -28%;
  width: 177%;
}


.header_title {
  background-color: black;
  color: white;
  height: 90px;
  min-width: 200px;
  padding-top: 10px;
  position: relative;

  font-size: 2em;
  line-height: 1.2em;
  font-weight: bold;
}

.header_title .sub_title {
  display: block;
}


.roles {
    display: block;
    list-style-type: square;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 2.50em;
}


.intro_block {
  display: inline;
}

.experience {
  float: left;
  width: 40%;
  padding-left: 5vw;
  padding-right: 5vw;
}

.row:after {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  clear: both;
}

.stats *{
  display: flex;
  justify-content: space-between;
  float:left;
  width: 40%;
  padding-left: 2.5vw;
}

.training {
  background-color: #2c3e50;
  text-align: center;
  padding-bottom: 10px;
  padding-top: 2vh;
  clear: both;
  display: block;
}

.training * {
  display: block;
}

#head_name {
   font-family: 'Roboto', sans-serif;
   font-weight: 900;
   font-size: 3.0em;
   line-height: 1.0em;
   margin-bottom: 7vh;
   margin-left: 5%;
   margin-right: 5%;
   margin-top: 35vh;
 }

#page_title {
   font-weight: 100;
   font-size: 30px;
   display: block;
 }


#training_label {
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  font-size: 30px;
  font-weight: 100;
  border-bottom: 2px solid #5a6773;
  width: 50%;
  padding-bottom: 2vh;
}

#training_roles {
  padding-top: 2vh;
  padding-bottom: 5vh;
}
