@import "resets/normalize.scss";
@import url('https://fonts.googleapis.com/css?family=Roboto:100,900&display=swap');

header{
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100px;
  display: flex;
  align-items: center;
  box-shadow: 0 0 1.5em 0 black;
  z-index: 2;
}

header img{
  object-fit: cover;
  object-position: top;
  width: 100px;
  height: 100px;
}

header * {
  display: inline;
}

header li {
  margin: 2.0vw;
}

header li a {
  color: black;
  text-decoration: none;
  white-space: nowrap;
  font-size: 1.188em;
}

body {
  background-size: cover;
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
  line-height: 1.25em;
  text-align: justify;
  margin-top: 100px;
  margin-left: 0;
  margin-right: 0;
  background-color: #5a6773;
  color: white;
}

section {
  z-index: 1;
}

p {
  margin-block-start: 1em;
  margin-block-end: 1em;
  font-size: 1.118em;
}

footer {
  margin-top: 4.0em;
  font-family: sans-serif;
  text-align: center;
  font-size: 0.750em;
  color: black;
  background-color: white;
}

footer span {
  display: block;
}

.page_title {
  background-color: black;
  color: white;
  height: 90px;
  min-width: 200px;
  padding-top: 10px;
  position: relative;

  font-size: 2em;
  line-height: 1.2em;
  font-weight: bold;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.page_title span {
  display: block;
}

.big_pic section {
  background-image: url('../media/picture_lake.jpg');
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
}

.big_pic .sub-title {
  width: 83.3333%;
}

.top_content {
  margin: 5%;
}

.lower_content section {
  background-image: url('../media/soccer_ball.jpg');
  background-position: center bottom;
  background-size: cover;
  height: auto;
  display: flex;
  flex-direction: column;
}

.lower_content section p {
  margin-left: 50%;
  text-shadow: 2px 2px 3px #000000;
}

.lower_content p {
  margin-left: 5%;
  margin-right: 5%;
}

.pic_block {
  display: flex;
}

.pic_block_txt {
  margin-left: 5%;
  margin-right: 5%;
  width: 45%;
}

.fam_pic {
  width: 45%;
  height: 48%;
  background-color: white;
  box-shadow: 0 0.250em 0.5em #000000, 0 0.375em 1.250em #000000;
  margin: 5%;
  border-radius: 0.375em;
  padding: 0.625em;
}

.polariod {
  text-align: center;
  color: black;
  font-family: 'Permanent Marker', cursive;
  font-size: 1.8em;
}

.movie_container {
  position: relative;
  overflow: hidden;
  padding-top: 56.25%;
  border-top: 20vh solid black;
  border-bottom: 20vh solid black;
  border-left: 7vw solid black;
  border-right: 7vw solid black;
}
.mov_frame {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

#quote{
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  margin-top: 40%;
  margin-bottom: 20%;
  font-size: 5.0vw;
  line-height: 1.2em;
  text-align: left;
}

#q_author {
  font-size: 3.5vw;
  display: block;
  text-align: right;
}

#hooked {
  font-size: 1.385em;
  font-weight: 900;
}


#page_title {
   font-weight: 100;
   font-size: 30px;
   display: block;
 }

#low_cont {
  padding-top: 5%;
}

#kids_pic {
  width: 100%;
  border-radius: 0.188em;
  border: 1px solid #6F6F6F;
}
