/*Lab5 CSS Stylesheet
  Matt Higbee
  ITMD-361
*/
html {
  background-image: url('media/galaxy-milky-way-orbit-110854.jpg');
  background-size: 100%;
}

table {
  width: 90%;
  background-color: #85858A;
  border-radius: 1.5%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1.0em;
  padding-right: 1.0em;
  padding-top: 1.0em;
  padding-bottom: 2.5em;
  min-width: 522px;
  min-height: 363px;
  font-family: sans-serif;
}

td {
  vertical-align: top;
  font-size: 1.125em;
  min-width: 100px;
  min-height: 45px;

}

sup {
  font-size: 1.3vw;
}

footer {
  color: #C8C8D7;
  position: absolute;
  padding-top: 10vh;
  padding-bottom: 2vh;
  width: 100%;
  text-align: center;
}

footer span {
  display: block;
  padding-bottom: 10px;
}

footer a{
  color: #ADADE5;
}

tr.border_btm td{ border-bottom: 1pt solid #444445; }

.intro h1 {
  font-family: 'Anton', sans-serif;
  font-size: 8.0vw;
  margin-bottom: 0;
  text-align: center;
}

.intro p {
  font-family: 'Raleway', sans-serif;
  font-size: 1.250em;
  padding-left: 2vw;
  padding-right: 2vw;
  margin-left: auto;
  margin-right: auto;
  color: #BFBFCA;
}

.intro {
  width: 90%;
  color: #C8C8D7;
  margin-left: auto;
  margin-right: auto;
  min-width: 522px;
  text-shadow: 1px 1px 4px #000000;
}

.r_attribute {
  width: 20%;
  text-align: left;
}

.merc, .venus, .earth, .mars {
  width: 15%;
  text-align: center;
}

.planet_name { text-align: center; }

.planet_pic {
  text-align: center;
}

.r_attribute { font-weight: 900;}

.measure_explanation {
  display: block;
  font-style: italic;
  font-weight: normal;
}
.unit {font-weight: normal;}
