@import url('https://fonts.googleapis.com/css?family=Roboto:100,900&display=swap');

header{
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 40px;
  width: 1140px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 21.25px 0 black;
  z-index: 2;
}

.pic_n_title {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: row;
  margin-top: 0;
  position: fixed;
  top: 40px;
  z-index: 2;
}

.pic_n_title img{
  object-fit: cover;
  object-position: top;
  width: 100px;
  height: 100px;
}

header * {
  display: inline;
}

header li {
  margin: 20px;
}

header li a {
  color: black;
  text-decoration: none;
  white-space: nowrap;
  font-size: 20.20px;
}

h3{
  font-family: 'Roboto', sans-serif;
  font-size: 25.5px;
  font-weight: 900;
  margin-top: 50px;
}

h4{
  font-family: 'Roboto', sans-serif;
  font-size: 22.525px;
  font-weight: 100;
  margin-top: 53.125px;
  margin-bottom: 14.875px;
  line-height: 21.25px;
  display: block;
}

h5{
  font-family: 'Roboto', sans-serif;
  font-size: 14.875px;
  font-weight: 900;
  line-height: 21.25.px;
  color: #5a6773;
  margin-top: 12px;
  margin-bottom: 0;
}

h5 span {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-size: 14px;
  float: right;
  color: black;
  margin-bottom: 0;
  margin-right: 57.05px;
}

footer {
  width: 1083px;
  font-family: sans-serif;
  font-size: 14.875px;
  color: black;
  margin-top: 68px;
  margin-left: 0;
  margin-right: 57.05px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: white;
  text-align: center;
}

footer span {
  display: block;
}

body {
  width: 1140px;
  background-size: cover;
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
  line-height: 19.55px;
  margin-top: 100px;
  margin-left: 0;
  margin-right: 0;
  padding: 31.875px;
  padding-bottom: 0;
  background-color: powderblue;
}

p {
  line-height: 21.25px;
}

.job_roles {
    display: block;
    list-style-type: disc;
    padding-left: 42.5px;
    padding-right: 57.05px
}

.header_title {
  background-color: black;
  color: white;
  height: 83px;
  min-width: 200px;
  padding-top: 17px;
  position: relative;

  font-size: 34px;
  line-height: 20.4px;
  font-weight: bold;
  margin: 0;
}

.header_title .sub_title {
  padding-top: 19px;
  display: block;
}


.description {
  width: 969.85px;
  font-size: 22.27px;
  border-top: 2px solid;
  border-bottom: 2px solid;
  margin-top: 0;
  margin-left: 57.05px;
  margin-right: 57.05px;
  text-align: justify;
}

.work_experience {
  margin-left: 57.05px;
  margin-right: 57.05;
}

.education {
  margin-left: 57.05px;
  margin-right: 57.05px;
}

.degree {
  margin-left: 79.87px;
}

.school {
  margin-bottom: 10px;
  margin-top: 45px;
}

#head_name {
   font-family: 'Roboto', sans-serif;
   font-weight: 900;
   font-size: 51px;
   line-height: 17px;
   margin-bottom: 25px;
   margin-left: 57.05px;
   margin-right: 57.05px;
   margin-top: 57.05px;
 }

#page_title {
   font-weight: 100;
   font-size: 30px;
   margin-top: 26px;
   display: block;
 }
