/*google map stylesheet*/
@import url('https://fonts.googleapis.com/css?family=Roboto:100,900&display=swap');

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #5a6773
}

body {
  margin-top: 8.38em;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: black;
  display: flex;
  flex-direction: row;
  height: 5.88em;
  z-index: 2;
}

nav ul li a {
  display: block;
  align-items: center;
  padding: 0.43em 1.75em;
  font-size: 1.176em;
  text-decoration: none;
  white-space: pre-line;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  color: black;
}

nav ul li {
  float: left;
}

nav ul li :hover {
  background-color: #DCDCDC;
}

nav ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav {
  position: fixed;
  top: 5.88em;
  left: 0;
  right: 0;
  background-color: white;
  box-shadow: 0 0 1.25em 0 black;
  z-index: 2;
}

h1 {
  font-family: 'Roboto', sans-serif;
  background-color: black;
  color: white;
  padding: 0.25em 0;
  position: relative;
  margin: 0;
  font-size: 2.0em;
  line-height: 1.15em;
  font-weight: 900;
}

h1 .sub_title {
  display: block;
}

.pic_container img {
  object-fit: cover;
  object-position: 0 -1em;
  width: 100%;
}

.pic_container {
  overflow: hidden;
  padding: 0;
  margin: 0;
  width: 5.88em;
  height: 5.88em;
}


#heading {
  position: relative;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 3em;
  font-weight: 900;
  color: white;
  background-color: #5a6773;
  text-shadow: 2px 2px 3px black;
}

#map_wrap {
  width: 90%;
  height: 75%;
  border-radius: 3em;
  border: 3px solid black;
  margin-top: 1em;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

#map {
  height: 100%;
  width: 100%;
}
