@import url('https://fonts.googleapis.com/css?family=Roboto:100,900&display=swap');
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: black;
  display: flex;
  flex-direction: row;
  height: 100px;
  z-index: 2;
}

nav ul li a {
  display: block;
  align-items: center;
  padding: 0.4em 1.75em;
  font-size: 19px;
  text-decoration: none;
  white-space: pre-line;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: black;
}

nav ul li {
  float: left;
}

nav ul li :hover {
  background-color: #DCDCDC;
}

nav ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav {
  position: fixed;
  top: 5.88em;
  left: 0;
  right: 0;
  background-color: white;
  box-shadow: 0 0 1.25em 0 black;
  z-index: 2;
}

h1 {
  font-family: 'Roboto';
  background-color: black;
  color: white;
  padding: 0.5em 0;
  position: relative;
  margin: 0;
  font-size: 2.0em;
  line-height: 1.0em;
  font-weight: bold;
}

h1 .sub_title {
  display: block;
}

h3 {
  font-family: 'Roboto', sans-serif;
  font-size: 1.5em;
  font-weight: 900;
  margin-top: 2.1em;
}

footer {
  font-family: sans-serif;
  font-size: 0.875em;
  color: black;
  margin: 4.0em 0 0 0;
  padding: 0.5em 0;
  background-color: white;
  text-align: center;
}

footer span {
  display: block;
}

body {
  background-size: cover;
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
  line-height: 1.15em;
  background-color: powderblue;
}

p {
  line-height: 21.25px;
}

.main {
  width: 960px;
  margin: 11.8em auto 0 auto;
}

.pic_container img {
  object-fit: cover;
  object-position: 0 -1.0em;
  width: 100%;
}

.pic_container {
  overflow: hidden;
  padding: 0;
  margin: 0;
  width: 5.88em;
  height: 5.88em;
}

.description {
  font-size: 1.1em;
  border-top: 0.12em solid;
  border-bottom: 0.12em solid;
  margin: 0 5%;
  text-align: justify;
}

.employer {
  font-family: 'Roboto', sans-serif;
  font-size: 1.35em;
  font-weight: 100;
  margin-top: 2.35em;
  margin-bottom: 0.65em;
  line-height: 1.15em;
  display: block;
}

.job_title {
  font-family: 'Roboto', sans-serif;
  font-size: 0.85em;
  font-weight: 900;
  line-height: 1.25em;
  color: #5a6773;
  margin: 1.0em 0 1em 0;
}

.employment_dates {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-size: 0.9em;
  float: right;
  color: black;
  margin: 0;
}

.job_specs {
  list-style-type: none;
  padding: 0;
}

.jobs {
  list-style-type: none;
  padding: 0;
}

.job_roles {
  display: block;
  list-style-type: disc;
  padding-right: 2.5%;
}

.work_experience {
  margin-left: 5%;
  margin-right: 5%;
}

.education {
  margin-left: 5%;
  margin-right: 5%;
}

.school {
  padding: 0;
}

.school_name {
  margin-bottom: 0.6em;
  margin-top: 2em;
  list-style-type: none;
  font-family: 'Roboto', sans-serif;
  font-size: 1.35em;
  font-weight: 100;
}

.degree {
  font-family: 'Roboto', sans-serif;
  font-size: 0.875em;
  line-height: 1.25em;
  font-weight: 100;
  color: black;
  list-style-type: none;
}

.degree span {
  font-weight: 900;
  color: #5a6773;
}

#head_name {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-size: 2.9em;
  line-height: 0.3em;
  margin: 2.6% 5%;
}

#page_title {
  font-weight: 100;
  font-size: 0.6em;
  margin-top: 3%;
  display: block;
}
