@import url('https://fonts.googleapis.com/css?family=Roboto:100,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap');
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: black;
  display: flex;
  flex-direction: row;
  height: 5.88em;
  z-index: 2;
}

nav ul li a {
  display: block;
  align-items: center;
  padding: 0.43em 1.75em;
  font-size: 1.176em;
  text-decoration: none;
  white-space: pre-line;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: black;
}

nav ul li {
  float: left;
}

nav ul li :hover {
  background-color: #DCDCDC;
}

nav ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav {
  position: fixed;
  top: 5.88em;
  left: 0;
  right: 0;
  background-color: white;
  box-shadow: 0 0 1.25em 0 black;
  z-index: 2;
}

h1 {
  font-family: 'Roboto', sans-serif;
  background-color: black;
  color: white;
  padding: 0.25em 0;
  position: relative;
  margin: 0;
  font-size: 2.0em;
  line-height: 1.15em;
  font-weight: bold;
}

h1 .sub_title {
  display: block;
}

.pic_container img {
  object-fit: cover;
  object-position: 0 -1em;
  width: 100%;
}

.pic_container {
  overflow: hidden;
  padding: 0;
  margin: 0;
  width: 5.88em;
  height: 5.88em;
}

body {
  background-size: cover;
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
  line-height: 1.25em;
  text-align: justify;
  margin-top: 2.38em;
  margin-left: 0;
  margin-right: 0;
  background-color: #5a6773;
  color: white;
}

section {
  z-index: 1;
}

p {
  font-size: 1.118em;
}

footer {
  margin-top: 4.0em;
  font-family: sans-serif;
  text-align: center;
  font-size: 0.750em;
  color: black;
  background-color: white;
}

footer span {
  display: block;
}

.header_title .sub_title {
  display: block;
}

.big_pic section {
  background-image: url('../media/picture_lake.jpg');
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
}

.big_pic .sub-title {
  width: 83.3333%;
}

.top_content {
  margin: 5%;
}

.lower_content section {
  background-image: url('../media/soccer_ball.jpg');
  background-position: center bottom;
  background-size: cover;
  height: auto;
  display: flex;
  flex-direction: column;
}

.lower_content section p {
  margin-left: 50%;
  text-shadow: 2px 2px 3px #000000;
}

.lower_content p {
  margin-left: 5%;
  margin-right: 5%;
}

.pic_block {
  display: flex;
}

.pic_block_txt {
  margin-left: 5%;
  margin-right: 5%;
  width: 45%;
}

.movie_container {
  position: relative;
  overflow: hidden;
  padding-top: 56.25%;
  border-top: 20vh solid black;
  border-bottom: 20vh solid black;
  border-left: 7vw solid black;
  border-right: 7vw solid black;
}

.mov_frame {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.fam_pic_container {
  width: 45%;
  height: 48%;
  background-color: white;
  box-shadow: 0 0.250em 0.5em #000000, 0 0.375em 1.250em #000000;
  margin: 5%;
  border-radius: 0.375em;
  padding: 0.625em;
}

.polariod {
  text-align: center;
  color: black;
  font-family: 'Permanent Marker', cursive;
  font-size: 1.8em;
}

.slideDeck_container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.slideDeck_container img {
  vertical-align: middle;
  width: 100%;
  border-radius: 0.188em;
  border: 1px solid #6F6F6F;
}

.slideDeck {
  display: none;
}

.deck_position {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.bullet_container {
  text-align: center;
}

.slide_bullet {
  height: 0.75em;
  width: 0.75em;
  margin: 0 0.25em;
  border-radius: 50%;
  border: 1px solid #bbb;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.running,
.slide_bullet:hover {
  background-color: #E2E2E2;
}

.fade {
  animation-name: fade;
  animation-duration: 2s;
}

@keyframes fade {
  from {
    opacity: 0.4
  }
  to {
    opacity: 1
  }
}

@media only screen and (max-width: 300px) {
  .text {
    font-size: 11px
  }
}

.text_slider_col {
  display: block;
  width: 45%;
}

#prev,
#next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  user-select: none;
}

#next {
  right: 0;
  border-radius: 35px 0 0 35px;
}

#prev {
  border-radius: 0 35px 35px 0;
}

#prev:hover,
#next:hover {
  background-color: #bbb;
  opacity: 70%;
}

#quote {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  margin-top: 40%;
  margin-bottom: 20%;
  font-size: 5.0vw;
  line-height: 1.2em;
  text-align: left;
}

#q_author {
  font-size: 3.5vw;
  display: block;
  text-align: right;
}

#hooked {
  font-size: 1.385em;
  font-weight: 900;
}

#low_cont {
  padding-top: 5%;
}
